{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px;">


      <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
      </nav>
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
                Fake Product Review Detection And Analysis System
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/1.jpg" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>Sentiment Analysis Management</b>
                </h4>
              </div>
              <p class="text-center">
                Opinion mining (sometimes known as sentiment analysis or emotion AI) refers to the use of natural language processing, text analysis, computational.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/2.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Product Management System</b>
                </h4>
              </div>
              <p class="text-center">
                Sentiment analysis is widely applied to voice of the customer materials such as reviews and survey responses, online and social media, and healthcare.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/3.png" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Review Graph</b>
                </h4>
              </div>
              <p class="text-center">
                A basic task in sentiment analysis is classifying the polarity of a given text at the document, sentence, or feature/aspect level—whether the expressed.
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/p3.jpg" alt="" style="height: 304px; width: 573px;">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              Fake Product Review Detection System
            </h1>
            <hr>
            <p>A basic task in sentiment analysis is classifying the polarity of a given text at the document, sentence, or feature/aspect level—whether the expressed opinion in a document, a sentence or an entity feature/aspect is positive, negative, or neutral. Advanced, "beyond polarity" sentiment classification looks, for instance, at emotional states such as "angry", "sad", and "happy".</p>
            <p>Precursors to sentimental analysis include the General Inquirer, which provided hints toward quantifying patterns in text and, separately, psychological research that examined a person's psychological state based on analysis of their verbal behavior.</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <!--property end-->
    <script type="text/javascript" src="/assets/js/parallax-slider/jquery.cslider.js"></script>
	<script type="text/javascript">
		  $(function() {

			$('#da-slider').cslider({
			  autoplay    : true,
			  bgincrement : 100
			});

		  });
	</script>
  {% endblock content %}

